.box {
  border: 0px none;
  overflow-x: hidden;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding: 3rem;
  }

  &__content {
    flex: 1;
    padding: 0;

    @media screen and (min-width: 768px) {
      padding: 1rem;
    }
  }

  &__image {
    flex: 1;
    margin: 0 auto;
  }
}
.container {
  background-color: var(--lavender);
}
